#pepopo-machine
  .well
    #pepopo-machine-tracks

  %button#play-pepopo-machine play
  %button#stop-pepopo-machine stop

%script{type:'text/template', id:'pepopo-machine-track-template'}
  <%= frequency %>
  .pepopo-machine-notes.btn-group

%script{type:'text/template', id:'pepopo-machine-note-template'}
  %i.icon-music